{% extends "base.html.twig" %}

{# / or /home #}
{#
Data available for consumption in the "Home" React component:

{{ playing }}   = now playing movies
{{ popular }}   = popular movies
{{ topRated }}  = top-rated movies
{{ upcoming }}  = upcoming movie releases
#}

{% block title %}
    Home | StreamVibe
{% endblock %}

{% block link %}
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main {{ react_component('Home') }} class="">
        <div class=''>Loading ...</div>
    </main>
{% endblock %}
